@charset "utf-8";

.slide{
  width:100%;  
}
.slide img{width:100%;}

.swiper-pagination-bullet{
  display: inline-block !important;
  width: 90px !important;
  height: 6px !important;
  border-radius: 0px !important;
}

.swiper-pagination-bullet-active{
  background-color: #ff6bdf !important;
}

.c01 > h2, .info > h2, .c02 > h2{
  font-size: var(--f-size16);
  font-weight: bold;
  color: var(--a_color);
  border-bottom: 1px solid var(--a_color);
  padding: 15px 0px 10px 0px;
  text-transform: uppercase;
}
.news_list{
  padding-top: 10px;
  padding-bottom: 30px;
}
.news_list > li{
  text-indent: 10px;
}
.news_list > li > a{
  line-height: 26px;
}
.news_list > li > a:hover{
  text-decoration: underline;
}

.c02 h3{display: none;}
.medical{
  width:320px;
  margin: 0 auto;
}
.medical_list{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, 85px);
}

.c03 > h2{display: none;}